<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ficards">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainPage"
            ></activity>
        <activity android:name=".ui.NewsActivity" android:label="@string/news_letter" android:parentActivityName=".ui.MainPage"/>
        <activity android:name=".ui.HealthActivity" android:label="@string/health" android:parentActivityName=".ui.MainPage" />
        <activity android:name=".ui.FeesActivity" android:label="@string/fees" android:parentActivityName=".ui.MainPage" />
        <activity android:name=".ui.ExamsActivity" android:label="@string/exams" android:parentActivityName=".ui.MainPage"/>
        <activity android:name=".ui.DisciplineActivity" android:label="@string/discipline" android:parentActivityName=".ui.MainPage"/>
        <activity android:name=".ui.BusActivity" android:label="@string/track_bus" android:parentActivityName=".ui.MainPage"/>
        <activity android:name=".ui.AttendanceActivity" android:label="@string/attendance" android:parentActivityName=".ui.MainPage"/>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>